.main-heading {
    font-family:'Roboto';
    background-color: #1a73e8;
    color:#ffffff;
    padding:16px 24px;
    font-size:24px;
    margin:0;
}
.navbar {
    background-color:#1e293b;
}
.navbar a{
    color:#ffffff;
}

.tab-content{
    display:none;
}
.tab-content h2 {
    font-family:'Roboto';
    font-size:20px;
    color:#1a73e8;
}


